@import url("https://fonts.googleapis.com/css?family=Lato:700");
.btn--default, .btn--success, .btn--error, .btn--warning, .btn--info, .btn--primary, .nav__item {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
  margin: 12px 0;
  cursor: pointer; }
  @media (min-width: 769px) {
    .btn--default, .btn--success, .btn--error, .btn--warning, .btn--info, .btn--primary, .nav__item {
      width: calc(90% / 5); } }

.grid__col--1, .grid__col--2, .grid__col--3, .grid__col--4, .grid__col--5, .grid__col--6, .grid__col--7, .grid__col--8, .grid__col--9, .grid__col--10, .grid__col--11, .grid__col--12 {
  padding: 15px 10px;
  margin: 3px 0;
  border-radius: 5px;
  color: #818181;
  width: 100%; }
  @media (min-width: 769px) {
    .grid__col--1, .grid__col--2, .grid__col--3, .grid__col--4, .grid__col--5, .grid__col--6, .grid__col--7, .grid__col--8, .grid__col--9, .grid__col--10, .grid__col--11, .grid__col--12 {
      margin: 0 8px; } }

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif; }

.btn--default {
  background-color: #75dbf8; }
.btn--success {
  background-color: #7dc889; }
.btn--error {
  background-color: #d77b7d; }
.btn--warning {
  background-color: #ef7f5f; }
.btn--info {
  background-color: #8e7ebc; }
.btn--primary {
  background-color: #7cddc2; }

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%; }
  @media (min-width: 769px) {
    .form {
      margin: 35px 20px; } }

form img {
  margin: 0 auto 25px auto; }

.form__label--hidden {
  visibility: hidden; }

.form__input {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 5px solid #7cddc2;
  padding: 0 15px;
  margin-bottom: 15px;
  font-size: 0.9rem;
  font-weight: 600; }

.form button[type='submit'] {
  margin-top: 15px;
  margin-bottom: 40px; }
  @media (min-width: 769px) {
    .form button[type='submit'] {
      width: 100%; } }

.grid__row {
  width: 100%;
  margin: 35px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap; }
  @media (min-width: 769px) {
    .grid__row {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap; } }

.grid__col--1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap; }
  @media (min-width: 769px) {
    .grid__col--1 {
      width: 8.3333333333%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: nowrap; } }
.grid__col--2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap; }
  @media (min-width: 769px) {
    .grid__col--2 {
      width: 16.6666666667%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: nowrap; } }
.grid__col--3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap; }
  @media (min-width: 769px) {
    .grid__col--3 {
      width: 25%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: nowrap; } }
.grid__col--4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap; }
  @media (min-width: 769px) {
    .grid__col--4 {
      width: 33.3333333333%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: nowrap; } }
.grid__col--5 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap; }
  @media (min-width: 769px) {
    .grid__col--5 {
      width: 41.6666666667%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: nowrap; } }
.grid__col--6 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap; }
  @media (min-width: 769px) {
    .grid__col--6 {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: nowrap; } }
.grid__col--7 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap; }
  @media (min-width: 769px) {
    .grid__col--7 {
      width: 58.3333333333%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: nowrap; } }
.grid__col--8 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap; }
  @media (min-width: 769px) {
    .grid__col--8 {
      width: 66.6666666667%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: nowrap; } }
.grid__col--9 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap; }
  @media (min-width: 769px) {
    .grid__col--9 {
      width: 75%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: nowrap; } }
.grid__col--10 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap; }
  @media (min-width: 769px) {
    .grid__col--10 {
      width: 83.3333333333%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: nowrap; } }
.grid__col--11 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap; }
  @media (min-width: 769px) {
    .grid__col--11 {
      width: 91.6666666667%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: nowrap; } }
.grid__col--12 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap; }
  @media (min-width: 769px) {
    .grid__col--12 {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: nowrap; } }
.grid__col--3.theme__colors {
  background-color: #d7b5ea; }
.grid__col--4.theme__colors {
  background-color: #94e4fa; }
.grid__col--5.theme__colors {
  background-color: #99d6a5; }
.grid__col--6.theme__colors {
  background-color: #5aa9c7; }
.grid__col--7.theme__colors {
  background-color: #e2a2a4; }
.grid__col--8.theme__colors {
  background-color: #f2a38a; }
.grid__col--12.theme__colors {
  background-color: #97e5d2; }

.centered {
  margin: 0 auto !important; }

.img--frame {
  padding: 12px;
  border: 1px solid darkgrey;
  width: 100%;
  margin: 30px auto; }

.img--avatar {
  margin: 15px auto 45px auto; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding: 45px 10%;
  width: 100%; }

.card {
  margin: 52px 0; }
  @media (min-width: 769px) {
    .card {
      margin: 35px 20px; } }

nav[role='navigation'] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 35px; }
  @media (min-width: 769px) {
    nav[role='navigation'] {
      margin: 0; } }

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%; }
  @media (min-width: 769px) {
    .nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-start;
      flex-wrap: nowrap; } }

.nav__item {
  list-style: none;
  text-transform: none;
  font-weight: normal;
  margin: 0; }
  .nav__item:hover {
    background-color: #7cddc2; }
    .nav__item:hover a {
      color: #fff; }
  .nav__item a {
    text-decoration: none;
    color: #b4b4b4;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center; }
  @media (min-width: 769px) {
    .nav__item {
      max-width: 15%; } }

.container .grid__row .grid__col--3 a.link {
  margin: auto; }

.img--logo {
  justify-self: center; }

p {
  font-size: 1.125rem;
  line-height: 1.7;
  color: #818181;
  font-weight: normal; }

.headline--secondary {
  color: #818181;
  font-size: 1.125rem;
  margin-left: 5px;
  margin-bottom: 30px;
  font-weight: 300; }

.headline--primary {
  color: #7cddc2;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 40px;
  width: 80%; }

.link {
  color: #75dbf8;
  text-decoration: none; }

.blockquote {
  font-size: 1.75rem;
  font-style: italic;
  font-weight: 500;
  color: #818181;
  border-left: 9px solid #7cddc2;
  border-radius: 5px;
  padding: 0 20px;
  margin: 25px auto; }

/*# sourceMappingURL=styles.css.map */
