%button {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: $button-text;
  font-weight: 500;
  margin: 12px 0;
  cursor: pointer;
  @media (min-width: $mq-bg) {
    & {
      width: calc(90% / 5);
    }
  }
}