@mixin flexy(
	$dis: flex,
	$dir: row,
	$just: flex-start,
	$ali: flex-start,
	$wrap: nowrap
) {
	display: flex;
	flex-direction: $dir;
	justify-content: $just;
	align-items: $ali;
	flex-wrap: $wrap;
}

@mixin col-style($map) {
	@for $i from 1 through 12 {
		&--#{$i} {
			@extend %column;
			@include flexy($wrap: wrap);
			@media (min-width: $mq-bg) {
				width: grid-width($i);
				@include flexy($wrap: nowrap, $just: space-between);
			}
		}
	}
	@each $theme, $color in $map {
		&--#{$theme}.theme__colors {
			background-color: $color;
		}
	}
}

@mixin button($map) {
	@each $theme, $color in $map {
		&--#{$theme} {
			@extend %button;
			background-color: $color;
		}
	}
}

@mixin frame($pad: 0, $bd: 1px solid darkgrey) {
	padding: $pad;
	border: $bd;
}
