@mixin colorize($map) {
	@each $theme, $color in $map {
		&--#{$theme} {
			background-color: $color;
		}
	}
}

@mixin button($map) {
	@each $theme, $color in $map {
		&--#{$theme} {
			@extend %button;
		}
	}
}

@mixin flexy(
	$dis: flex,
	$dir: row,
	$just: flex-start,
	$ali: flex-start,
	$wrap: nowrap
) {
	display: flex;
	flex-direction: $dir;
	justify-content: $just;
	align-items: $ali;
	flex-wrap: $wrap;
}

@mixin frame($pad: 0, $bd: 1px solid darkgrey) {
	padding: $pad;
	border: $bd;
}

@mixin gridify($color) {
	padding: 15px 10px;
	margin: 3px 0;
	border-radius: 5px;
	color: $text-color-dark;
	// background-color: map-get($theme-colors, $color);
	@media (min-width: $mq-bg) {
		margin: 0 8px;
	}
}
