@mixin buttonize($color-name) {
  $color: map-get($theme-colors, $color-name);
  background-color: $color;
  @extend %button;
}

@mixin flexy($dis: flex, $dir: row, $just: flex-start, $ali: flex-start, $wrap: nowrap) {
  display: flex;
  flex-direction: $dir;
  justify-content: $just;
  align-items: $ali;
  flex-wrap: $wrap;
}

@mixin frame($pad: 0, $bd: 1px solid darkgrey) {
  padding: $pad;
  border: $bd;
}