// ---------------- Colors ------------------- //
// Theme color set
$theme-colors: (
  default: #75dbf8,
  success: #7dc889,
  error:   #d77b7d,
  warning: #ef7f5f,
  info:    #8e7ebc,
);

// Typography
$text-color-light: #fff;
$text-color-dark: #000;


// Media queries
$mq-bg: 769px;