// ------------- Imported assets -------------- //
// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:700');

// ---------------- Colors ------------------- //
// Theme color set
$theme-colors: (
  default: #75dbf8,
  success: #7dc889,
  error:   #d77b7d,
  warning: #ef7f5f,
  info:    #8e7ebc,
  primary: #7cddc2,
);

// ------------------ Typography ----------------- //
// Fonts
$font-primary: 'Helvetica Neue';

// Sizes
$p-text: 1.125rem;
$head-secondary: 1.125rem;
$blockquote: 1.75rem;
$form-text: .9rem;
$button-text: .9rem;

// Font colors
$text-color-light: #fff;
$text-color-dark: #818181;
$text-color-link: map-get($theme-colors, default);

// Media queries
$mq-bg: 769px;