.grid__row {
	width: 100%;
	margin: 35px 0;
	@include flexy($dir: column);
	@media (min-width: 769px) {
		@include flexy($ali: center);
	}
}

.grid__col {
	@include col-style($theme-cols);
}

.centered {
	margin: 0 auto !important;
}
