.container {
  @include flexy($dir: column, $just: center);
  padding: 45px 10%;
  width: 100%;
}

.card {
  margin: 52px 0;
}

p {
  font-size: $p-text;
  line-height: 1.7;
  color: $text-color-dark;
  font-weight: lighter;
}