p {
  font-size: $p-text;
  line-height: 1.7;
  color: $text-color-dark;
  font-weight: normal;
}

.headline--secondary {
  color: $text-color-dark;
  font-size: $head-secondary;
  margin-left: 5px;
  margin-bottom: 30px;
  font-weight: 300;
}

.headline--primary {
  color: map-get($theme-colors, primary);
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 40px;
  width: 80%;
}

.link {
  color: $text-color-link;
  text-decoration: none;
}

.blockquote {
  font-size: $blockquote;
  font-style: italic;
  font-weight: 500;
  color: $text-color-dark;
  border-left: 9px solid map-get($theme-colors, primary);
  border-radius: 5px;
  padding: 0 20px;
  margin: 25px auto;
}